@import "../../styles/colors.module.css";

.container {
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  border-top: 1px solid var(--SIGNADOT-NEUTRAL100);
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--SIGNADOT-NEUTRAL600);
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--SIGNADOT-NEUTRAL900);
}

.link svg {
  font-size: 1.125rem;
}

.userInfo {
  color: var(--SIGNADOT-NEUTRAL500);
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-top: 8px;
  border-top: 1px solid var(--SIGNADOT-BORDER-COLOR);
  margin: 0 auto;
}

.logoutLink {
  color: var(--SIGNADOT-NEUTRAL500);
  cursor: pointer;
  text-decoration: none;
  opacity: var(--SIGNADOT-OPACITY800);
  transition: all 0.2s ease;
}

.logoutLink:hover {
  opacity: 1;
  color: var(--SIGNADOT-NEUTRAL900);
}
